// @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

// @font-face {
//     font-family: 'Inter';
//     src: url('../fonts/Inter.ttf');
// }

@font-face {
    font-family: 'TitilliumWeb-Regular';
    src: url('../fonts/TitilliumWeb-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TitilliumWeb-SemiBold';
    src: url('../fonts/TitilliumWeb-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}