/**
 *  Colors
 */

$c-black: #000;
$c-white: #fff;
$c-primary: #1954ED;

$c-text: #363636;
$c-text-dark:#262626;
$c-text-light: rgba(0, 0, 0, 0.5);
$c-text-white: rgba(255, 255, 255, 0.8);

$c-blue: #F3F6FE;
$c-blue-1: #D4DCEF;
$c-blue-2: #869BD3;
$c-blue-3: #B9CBFA;
$c-green: #28D1B4;

